.upload-container {
  padding: 40px; /* Distance from top and left */
  margin-left: 250px; /* Width of your sidebar */
}

.division-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.division-select {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  width: 250px;
}

