.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #065e8a;
  padding: 8px 20px; /* Keep padding minimal */
  color: white;
  height: 70px; /* Fixed height for clean header */
}

.railway-logo {
  height: 80px; /* Increased logo size */
  width: auto;
}

.title-container {
  text-align: center;
  flex-grow: 1;
}

.hindi-title {
  font-size: 18px;
  font-weight: 800; /* Bolder */
  margin: 0;
  line-height: 1;
}

.english-title {
  font-size: 14px;
  font-weight: 600; /* Bolder */
  margin: 10px 0 0 0;
  line-height: 1;
}

.profile-icon {
  height: 40px;
  width: 40px;
  object-fit: contain;
  background-color: transparent;
  border-radius: 50%;
}
